.grid_item{
    position: relative;

    img, video{
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    &.large{
        grid-column: span 1;
        grid-row: span 2;
    }

}
