//if the profile has a story then add this class
.story{
    border: 2px solid $black;
    padding: .5px;
}

.stories{
    position: relative;
    padding: 0 10px;
    .items{
        .item_s{
            border: none;
            background-color: transparent;
            position: relative;
            .story_avatar {
                position: relative; 
                width: 64px;
                height: 64px;
            }
            .story_picture{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 56px;
                height: 56px;
                border-radius: 50%;
                overflow: hidden;
            }
            .story__border {
                width: 64px;
                height: 64px;
                fill: none;
                stroke: url(#--story-gradient);
                stroke-width: 2;
            }
            .story_name{
                color: $gray-color;
                font-weight: 300;
                font-size: 12px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.owl-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include small-screen{
        width: 80%;
    }
    padding: 10px;
    top: 10px;
    span{
        font-weight: 500;
        padding:2px 10px;
        border-radius: 100%;
        display: none;
        
    }
}

.owl-carousel.items {
    opacity: 0;
    transition: opacity 0.5s ease;

}

.owl-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include small-screen{
        width: 80%;
    }
    padding: 10px;
    top: 10px;
    span{
        font-weight: 500;
        padding:2px 10px;
        border-radius: 100%;
        display: none;
        
    }
}

.owl-carousel.items {
    opacity: 0;
    transition: opacity 0.5s ease;

}