{% macro nav_icon(type) %}
    <div class="nav_bottom">
        <a href="{{url_for('wedding_home')}}">
            {% macro nav_icon(type='home', is_bold=false) %}
                {% if type == 'home' %}
                    {% if is_bold %}
                        <svg aria-label="홈(Bold)" class="home_icon" fill="black" role="img" viewBox="0 0 24 24" width="24">
                            <title>홈</title>
                            <path d="M22 23h-6.001a1 1 0 0 1-1-1v-5.455a2.997 2.997 0 1 0-5.993 0V22a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V11.543a1.002 1.002 0 0 1 .31-.724l10-9.543a1.001 1.001 0 0 1 1.38 0l10 9.543a1.002 1.002 0 0 1 .31.724V22a1 1 0 0 1-1 1Z"></path>
                        </svg> 
                    {% else %}
                        <svg aria-label="홈" class="home_icon" fill="black" role="img" viewBox="0 0 24 24" width="24">
                            <title>홈</title>
                            <path d="M9.005 16.545a2.997 2.997 0 0 1 2.997-2.997A2.997 2.997 0 0 1 15 16.545V22h7V11.543L12 2 2 11.543V22h7.005Z" fill="none" stroke="black" stroke-linejoin="round" stroke-width="2"></path>
                        </svg> 
                    {% endif %}
                {% endif %}
            {% endmacro %}
            {{ nav_icon('home', is_bold=(active_page == 'home')) }}
        </a>
        <a href="{{url_for('wedding_explore')}}">
            {% macro nav_icon(type='home', is_bold=false) %}
                {% if type == 'explore' %}
                    {% if is_bold %}
                        <svg aria-label="탐색 탭(Bold)" class="explore_icon" fill="black" role="img" viewBox="0 0 24 24">
                            <title>탐색 탭</title>
                            <path d="M18.5 10.5a8 8 0 1 1-8-8 8 8 0 0 1 8 8Z" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
                            <line fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="16.511" x2="21.643" y1="16.511" y2="21.643"></line>
                        </svg>
                    {% else %}
                        <svg aria-label="탐색 탭" class="explore_icon" fill="black" role="img" viewBox="0 0 24 24">
                            <title>탐색 탭</title>
                            <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                            <line fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line>
                        </svg>
                    {% endif %}
                {% endif %}
            {% endmacro %}
            {{ nav_icon('explore', is_bold=(active_page == 'explore')) }}
        </a>
        <a href="{{url_for('wedding_twocut')}}">
            <svg aria-label="웨딩 두컷" class="add_icon" fill="black" role="img" viewBox="0 0 24 24">
                <title>웨딩 두컷</title>
                <path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></path>
                <line fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                <line fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
            </svg>
        </a>
    </div>
{% endmacro %}
{{ nav_icon(active_page) }}
